<div class="main">
    <div class="card">
        <div class="row" >
            <div class="col-sm-12 m-b-20">
                <div class="title-bar">
                    <h2 class="title text-left border-bottom top-35"> {{'OrderPlacedSuccessfully'|translate}}</h2>
                </div>
            </div>
            <div *ngFor="let p of orderdetails">
            <div class="row">
                <div class="col-md-2">
                    <p class=" text-left border-bottom top-35">{{'OrderNO'|translate}}: {{p.orderNo}}</p>
                 </div>
                <div class="col-md-8">

                </div>
                <div class="col-md-2">
                   <p class=" text-left border-bottom top-35">{{'TotalAmount'|translate}}: {{p.totalAmount}}</p>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="{{productPicUrl}}{{images}}"
                    width="200" height="200" onerror="this.src='./assets/images/download.png';"  
                    class="d-block w-100" alt="image" >
                </div>
                <div class="col-md-4">
                    <p>{{'ProductName'|translate}}:{{this.selectedProdut.productName}}</p>
                    <p>{{'Seller'|translate}}:{{this.selectedProdut.sellerName}}</p>
                    <p>{{'Quantity'|translate}}:{{selectedquntity}}</p>
                    <p>{{'Address'|translate}}:{{deliveryaddress.locality}}</p>
                      
                </div>
                <div class="col-md-2">
                   
                </div>
                <div class="col-md-2">
                    <p>{{'StandardPrice'|translate}}: {{p.orderAmount}}</p>
                    <p>{{'Discount'|translate}}: {{selectedProdut.discount}}</p>
                </div>

            </div>
        </div>
            <!-- <button (click)="confirmOrder()" class="btn btn-primary" style="float: right;">Confirm Payment</button> -->
        </div>
    </div>
</div>