<div class="row">
    <div class="policy-content">

        <p class="text-para" >We are software developers and distributors. both in Thailand and in many Asian countries Registered as a juristic person No. 0125553007991 on May 19, 2010, operated business Software for more than 8 years</p>
        <ul>
            <b>Our Services</b>
            <ol>
                <li>
                    <p><b>Gamecock farm application</b></p>
                    <ul>
                        <li> is a mobile application that will help you manage your gamecock farm easily. and effective on your mobile Simple and easy to use</li>
                        <li>Both in terms of creating a farm history</li>
                        <li>Recording chicken species Chicken History Collection both in the form of images and video clips. Automatic blood percentage calculation </li>
                        <li>Creating a vaccine schedule </li>
                        <li>Collecting history of illness and treatment </li>
                        <li>Recording expenses Record revenue from chicken sales</li>
                        <li>Quick and easy certificate issuance with just one click</li>
                        <li>There is a sales report. expense report profit and loss report Stock report and chicken stock in the farm</li>
                        <li>Gamecock app will be linked to online market. Can post to sell fighting cock from the app to the online market easily. Just one click </li>
                    </ul>
                </li>

                <li>
                    <p><b>Online marketplace</b></p>
                    <p>It is an online marketplace to support trading and auction of gamecocks. Including the trading of vaccines, drugs, food, equipment, gamecocks, helping to increase sales channels and expand the market to many countries. The website has both Thai and English versions.</p>
                    <ul>
                        <li>Don't be afraid of missing the page. Don't be afraid of being blocked. No need to create a page by yourself.</li>
                        <li>Posting for sale on a website that meets your target audience. In the group of people who love gamecocks directly</li>
                        <li>Create your own profile, build your farm history. You can post chickens for sale in both pictures and video clips </li>
                        <li>People who follow you will be notified every time you have new chickens for sale </li>
                        <li>Buy, sell, auction, chicken, pay online, convenient, safe, can check the history and credibility, buy the seller </li>
                        <li>Post a forum, ask questions, share knowledge, follow your favorite farms, send messages, comment, like and share with your friends, members or invite your friends to join in activities. About common gamecocks</li>
                        <li>Get notified when chickens you are interested in or chickens from the farms you follow are available for sale</li>
                        <li>Find a transport vehicle. Compare prices Book a transport online </li>
                        <li>Selling equipment, food, medicine, vaccines from various stores</li>
                    </ul>
                </li>

            </ol>
        </ul>
    </div>
</div>