.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: #dc3545 !important;
}
.is-invalid{
    color: #dc3545 !important;
}
::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #f15502; 
 }










