<div class="main">
    <div class="card">
        <div class="row">
            <div class="col-sm-12 m-b-20">
                <div class="title-bar">
                    <h2 class="title text-left border-bottom top-35"> Product Details </h2>
                </div>
            </div>
            <!-- dletehere -->
            <div class="col-sm-5">
                <section class="consulting-section section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5">
                                <div id="consulting-carousel" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        <!-- oldone -->
                                        <div class="item "
                                            *ngFor="let item of images;let index = index;let isFirst = first"
                                            [ngClass]="{active:isFirst}">
                                            <span class="consulting-caption">
                                                <div class="not_img" *ngIf="images == 'undefined'"
                                                    style="background-color: red;">370 x 440px</div>
                                                <img src="{{productPicUrl}}{{item.imageName}}" *ngIf="item.imageName"
                                                    width="350" height="350" class="d-block w-100" alt="image">

                                            </span>
                                        </div>
                                        <!-- oldone -->

                                        <!-- carousel both vedio and image -->

                                        <!-- <div #container [ngStyle]="{width: 300+'px'}"
                                            style="height:460px; text-align:center;margin:0; padding:0;">
                                            <ng-image-slider #nav [images]="newimageObject" [infinite]="true"
                                                [manageImageRatio]=true [autoSlide]="1" [animationSpeed]="0.5"
                                                [imageSize]="{width: container.style.width, space:0}" slideImage="1">
                                            </ng-image-slider>
                                        </div> -->
                                        <!-- carousel both vedio and image -->
                                    </div>
                                    <!-- downimage -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#consulting-carousel"
                                            *ngFor="let item of images;let index = index;let isFirst = first"
                                            [ngClass]="{active:isFirst}">
                                            <img src="{{productPicUrl}}{{item.imageName}}" alt="image">
                                            <!-- <img src="{{productPicUrl}}/{{prdId}}/{{item.imageName}}" alt="image"> -->

                                        </li>
                                        <div >
                                            <li data-target="#consulting-carousel" >
                                                <div  (click)="openDialog(vediopopup)"><i class="fa fa-play-circle ytube-icon"></i>{{vedioCount}}</div>
                                                <!-- <video type="video/mp4" src="{{productvideoUrl}}{{smallvideo}}"
                                                alt="novideo" height="94px" ></video> -->
                                            </li>
                                        </div>




                                    </ol>
                                   
                                </div>


                            </div>
                        </div>

                    </div>
                </section> <!-- consulting-section -->


            </div>
            <div class="col-sm-7 ">
                <div class="pro-details">
                    <h2> {{product?.productName |uppercase}} </h2>
                    <h3> <b>{{members?.userName}} </b></h3>
                    <!-- <h4> Special priceends in less than </h4> -->

                    <!-- <div>
                        <span class="fa fa-star checked m-r-5"></span>
                        <span class="fa fa-star m-r-5 checked"></span>
                        <span class="fa fa-star m-r-5 checked"></span>
                        <span class="fa fa-star m-r-5 checkbox"></span>
                        <span class="fa fa-star m-r-5"></span>
                        (3) 
                         <a href="#"> 17679 Ratings </a> | <a href="#"> 933 Reviews </a> 
                    </div> -->

                    <hr>
                    <!-- <div> MRP {{product?.standardPrice | number: '1.2-2'}} (Inclusive of all
                        taxes)Rs.{{product?.discount}}% OFF </div> -->
                    <h1>฿ {{product?.standardPrice | number: '1.2-2'}} <span class="price-off"> {{product?.discount}} %
                            OFF </span></h1>

                    <div class="row m-t-20">
                        <div class="form-group ">
                            <div class="col-sm-2">
                                <label> Price: </label>
                            </div>
                            <div class="col-sm-10">
                                <label class="orange-txt"> ฿ {{product?.standardPrice | number: '1.2-2'}}</label>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-2">
                                <label> Size: </label>
                            </div>
                            <div class="col-sm-10">
                                <label class="orange-txt">{{product?.weight}} {{product?.uomDesc}} </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label> Payment:
                                </label>
                            </div>
                            <div class="col-sm-10">
                                <label class="orange-txt">{{product?.paymentOptionDesc}} </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label *ngIf="!isoutOfStock"> Quantity: <b>{{product?.stockQty}}</b></label>
                                <div class="example-chip-list" *ngIf="isoutOfStock">

                                    <label class="orange-txt">
                                        <mat-chip-list>
                                            <mat-chip class="cardinal-colors">Out Of Stock</mat-chip>
                                        </mat-chip-list>
                                    </label>
                                </div>
                                <!-- for style only added remove if any issue -->
                            </div>

                        </div>
                    </div>



                    <div class="row m-t-20 add-cart-buy-it-now">
                        <div class="col-sm-4 add-to-cart">
                            <!-- <a routerLink="/Cartitems" class="btn btn-primary addcart-btn"> Add to Cart</a> -->
                            <button [disabled]="product?.stockQty <=0" (click)="addCart()"
                                class="btn btn-primary addcart-btn">Add to Cart</button>
                        </div>
                        <div class="col-sm-4 buy-it-now">
                            <button [disabled]="product?.stockQty <=0" (click)="byNow()"
                                class="btn btn-primary addcart-btn buy-btn" style="width:100%">
                                Buy Now
                            </button>
                        </div>

                    </div>
                    <div class="facbook-icon">
                        <div class="thumbs-facebook-icon">
                            <a> <i class="fa fa-thumbs-o-up" width="30px" (click)="addwish()"></i></a>
                            <a> <i class="fa fa-facebook-square" width="30px" (click)="facebookUI('test')"></i></a>
                        </div>
                    </div>


                </div>
            </div>
            <!-- dletehere -->


        </div>




        <div class="row">
            <div class="col-sm-12 m-t-50">


                <h2> Product Description</h2>
                <table class="table table-striped">

                    <tbody>
                        <tr>
                            <td width="400" class="first"> Product Name: </td>
                            <td> {{product?.productName | uppercase}}</td>
                            <td> Age: </td>
                            <td> {{product?.age}} {{product?.ageTypeDescription}}</td>
                        </tr>
                        <tr>
                            <td> Gender: </td>
                            <td>{{product?.genderDesc}} </td>
                            <td> Fighting Record: </td>
                            <td>{{product?.fightingRecord | uppercase}} </td>
                        </tr>
                        <tr>
                            <td> Sire/Breeder: </td>
                            <td>{{product?.breedTypeDesc}} </td>
                            <td> Weight: </td>
                            <td>{{product?.weight}} {{product?.uomDesc}} </td>
                        </tr>
                        <tr>
                            <td>Breed: </td>
                            <td>{{product?.breed }} </td>
                            <td>Province: </td>
                            <td>{{product?.province| uppercase}} </td>
                        </tr>
                        <tr>
                            <td>Talent:</td>
                            <td>{{product?.talents}}</td>
                            <td>Additional Information:</td>
                            <td>{{product?.productName}} </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <form name="form" (ngSubmit)="f.form.valid " #f="ngForm" novalidate>
                    <label class="lbl-detail"> Post your comment </label>
                    <textarea class="form-control" [(ngModel)]="form.messageSubject" #messageSubject="ngModel"
                        name="messageSubject" [ngClass]="{'is-invalid':f.submitted && messageSubject.invalid} "
                        required></textarea>
                    <div style="color: red;" *ngIf="messageSubject.errors && f.submitted">
                        <div *ngIf="messageSubject.errors['required']">Message is required</div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 text-right m-t-20">
                <a (click)="postComment()" class="btn btn-default "> Post Comment</a>
                <a (click)="dialogbox(breedtemplate)" class="btn btn-primary ">Send Message to Seller</a>

            </div>

        </div>
        <div class="card" style="margin-top: 15px">
            <div class="title-bar">
                <h2 class="title">Comments </h2><span class="title-border"></span>
            </div>
            <app-commentbox (add)="Submitcomments($event)" *ngIf="isEditing"></app-commentbox>
            <app-comments-list *ngFor="let c of message " [comment]="c"></app-comments-list>
        </div>
    </div>
</div>


<!-- send message popup -->
<ng-template #breedtemplate>
    <div>
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header model-hdr-pdng">
                <button type="button" class="close message-to-sellar" (click)="breeddialogRef.close()">×</button>
                <h4 class="modal-title center-block">Send Message to Seller</h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body" id="dialogMessage">
                <form autocomplete="off" name="form" (ngSubmit)="f.form.valid" #f="ngForm"
                    class="form-horizontal center-block">
                    <div class="row">
                        <div class="col-md-12">


                            <div class="form-group">

                                <div class="col-sm-12">
                                    <textarea class="form-control" cols="20" name="comments" [(ngModel)]="comments"
                                        placeholder="Message" rows="8" value=""></textarea>
                                </div>
                            </div>
                            <input type="file" name="fileName" [(ngModel)]="form.fileName" #fileName="ngModel"
                                (click)="uploadFile($event)">
                            <div id="pswderror" style="color:red" class="ui-state-error-text">
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                </div>
                                <div class="col-md-4">
                                    <button type="button" (click)="SendMessageToSeller()"
                                        class="custom-btn btn btn-default message-sellar-submit">Submit</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>
<!-- send message popup -->

<ngx-spinner size="medium" color="orange" backgroundcolor="white" type="ball-fussion"></ngx-spinner>


<!-- Change the width here    -->
<!-- <div #container [ngStyle]="{width: 300+'px'}" style="height: 5100px; text-align:center;margin:0; padding:0;">
    <ng-image-slider #nav [images]="imageObject" [infinite]="false" [manageImageRatio]=true [autoSlide]="1"
      [animationSpeed]="0.1" [imageSize]="{width: container.style.width, space:0}" slideImage="1"></ng-image-slider>
  </div> -->


<ng-template #vediopopup>
    <div >
        <div class="modal-header model-hdr-pdng">
            <button type="button" class="close message-to-sellar" (click)="dialogRef.close()">×</button>
            <h4 class="modal-title center-block">Vedio List</h4>
        </div>
        <li data-target="#consulting-carousel" (click)="openDialog(vediopopup)">
            <video type="video/mp4" src="{{productvideoUrl}}{{smallvideo}}"
            alt="novideo" height="94px" ></video>
        </li>
    </div>
</ng-template>