<div class="main">
    <div class="card">
        <div class="row">
            <div class="col-sm-12 m-b-20">
                <div class="title-bar">
                    <h2 class="title text-left border-bottom top-35"> Product Details </h2>
                </div>
            </div>
            <!-- dletehere -->

            <!-- dletehere -->
          

        </div>




        <div class="row">
            <div class="col-sm-12 m-t-50">


                <h2> Product Description</h2>
                <table class="table table-striped">

                    <tbody>
                        <tr>
                            <td width="400" class="first"> Product Name: </td>
                            <td> {{product?.productName | uppercase}}</td>
                            <td> Age: </td>
                            <td> {{product?.age}} {{product?.ageTypeDescription}}</td>
                        </tr>
                        <tr>
                            <td> Gender: </td>
                            <td>{{product?.genderDesc}} </td>
                            <td> Fighting Record: </td>
                            <td>{{product?.fightingRecord | uppercase}} </td>
                        </tr>
                        <tr>
                            <td> Sire/Breeder: </td>
                            <td>{{product?.breedTypeDesc}} </td>
                            <td> Weight: </td>
                            <td>{{product?.weight}} {{product?.uomDesc}} </td>
                        </tr>
                        <tr>
                            <td>Breed: </td>
                            <td>{{product?.breed }} </td>
                            <td>Province: </td>
                            <td>{{product?.province| uppercase}} </td>
                        </tr>
                        <tr>
                            <td>Talent:</td>
                            <td>{{product?.talents}}</td>
                            <td>Additional Information:</td>
                            <td>{{product?.productName}} </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <form name="form" (ngSubmit)="f.form.valid " #f="ngForm" novalidate>
                    <label class="lbl-detail"> Post your comment </label>
                    <textarea class="form-control" [(ngModel)]="form.messageSubject" #messageSubject="ngModel"
                        name="messageSubject" [ngClass]="{'is-invalid':f.submitted && messageSubject.invalid} "
                        required></textarea>
                    <div style="color: red;" *ngIf="messageSubject.errors && f.submitted">
                        <div *ngIf="messageSubject.errors['required']">Message is required</div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 text-right m-t-20">
                <a (click)="postComment()" class="btn btn-default "> Post Comment</a>
                <a (click)="dialogbox(breedtemplate)" class="btn btn-primary ">Send Message to Seller</a>

            </div>

        </div>
        <div class="card" style="margin-top: 15px">
            <div class="title-bar">
                <h2 class="title">Comments </h2><span class="title-border"></span>
            </div>
            <app-commentbox (add)="Submitcomments($event)" *ngIf="isEditing"></app-commentbox>
            <app-comments-list *ngFor="let c of message " [comment]="c"></app-comments-list>
        </div>
    </div>
</div>


<!-- send message popup -->
<ng-template #breedtemplate>
    <div>
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header model-hdr-pdng">
                <button type="button" class="close message-to-sellar" (click)="breeddialogRef.close()">×</button>
                <h4 class="modal-title center-block">Send Message to Seller</h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body" id="dialogMessage">
                <form autocomplete="off" name="form" (ngSubmit)="f.form.valid" #f="ngForm"
                    class="form-horizontal center-block">
                    <div class="row">
                        <div class="col-md-12">


                            <div class="form-group">

                                <div class="col-sm-12">
                                    <textarea class="form-control" cols="20" name="comments" [(ngModel)]="comments"
                                        placeholder="Message" rows="8" value=""></textarea>
                                </div>
                            </div>
                            <input type="file" name="fileName" [(ngModel)]="form.fileName" #fileName="ngModel"
                                (click)="uploadFile($event)">
                            <div id="pswderror" style="color:red" class="ui-state-error-text">
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                </div>
                                <div class="col-md-4">
                                    <button type="button" (click)="SendMessageToSeller()"
                                        class="custom-btn btn btn-default message-sellar-submit">Submit</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>
<!-- send message popup -->

<ngx-spinner size="medium" color="orange" backgroundcolor="white" type="ball-fussion"></ngx-spinner>


<!-- Change the width here    -->
<!-- <div #container [ngStyle]="{width: 300+'px'}" style="height: 5100px; text-align:center;margin:0; padding:0;">
    <ng-image-slider #nav [images]="imageObject" [infinite]="false" [manageImageRatio]=true [autoSlide]="1"
      [animationSpeed]="0.1" [imageSize]="{width: container.style.width, space:0}" slideImage="1"></ng-image-slider>
  </div> -->