<div id="main-wrapper">
    <div id="box">
        <div class="up-header clearfix">
            <div class="container">
                <!-- Section : Logo and Home Redirect -->

                <!-- Section : Search dropdown and text box -->

                <div class="col-md-5 col-sm-6 hidden-xs search_con">
                    <div class="header-search">
                        <form class="">
                            <div class="form-group">
                                 <div class="input-group">
                                    <div class="search">

                                        <!-- <select class="form-control search-select" id="ddlLanguage"
                                            name="SelectedLanguage.LanguageCulture">
                                            <option value="th">ไทย</option>
                                            <option selected="selected" value="en">English</option>
                                        </select> -->

                                        <p>
                                            <mat-slide-toggle  color="Link"  (change)="setValue($event )"><p style="color: white;">{{svalue}}</p></mat-slide-toggle>
                                         </p>
                                         <p routerLink="/">{{'Home'|translate}}</p>
                                    </div>
                                </div> 
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Section : Login & Cart , Notifications -->

                <div class="col-md-6 col-sm-6 col-xs-12 nav_right">
                    <ul class="list-inline list-unstyled icons-topp logincls" *ngIf="!dataService.isLoggedIn()">
                        <li class="dropdown" >
                            <a  (click)="OpenModal()">{{'Login'|translate}}</a>
                          
                        </li>
                        <li>
                            <a routerLink="/Cartitems"><i class="fa  fa-shopping-cart fa-color-white"></i>
                                <span
                                    class="login-cart-count" *ngIf="cartLst">{{this.dataService.getCartCount()}}</span>
                                    <span class="login-cart-count" *ngIf="!cartLst">0</span></a>
                        </li>


                        <!-- <li>
                            <select #select (change)="switchLang(selectlang.value)" >
                            <option *ngFor="let lng of translate.getLangs()" [value]="langauge"
                            [selected="language === translate.currentLang">
                            {{language}}

                            </option>
                            </select>
                            </li> -->
                           
                    </ul>

                    <div class="pull-right loggedincls" *ngIf="dataService.isLoggedIn()">
                       
                        <ul class="list-inline list-unstyled icons-topp pull-left loggedincls" >
                           
                            <li class="dropdown">
                                <a aria-expanded="false" data-toggle="dropdown" class="dropdown-toggle"
                                    title="Account Details"><span class="title-overflow">{{'MyAccount'|translate}}</span><i
                                        class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu dropdown-menu-2">
                                    <li><a routerLink="/menu/profile" (click)="this.showlist = !this.showlist;"> <i
                                        class="icon-user"></i>  {{'Profile'|translate}}</a></li>
                            <li><a routerLink="menu/WishList"
                                    *ngIf="this.dataService.getuserType() == '2170' "
                                    (click)="this.showlist = !this.showlist;"> <i class="icon-heart"></i>
                                     {{'WishList'|translate}}</a></li>
                            <li><a routerLink="menu/orderhistory" (click)="this.showlist = !this.showlist;">
                                    <i class="icon-basket"></i>  {{'PurchaseList'|translate}}</a></li>
                            <li><a routerLink="menu/SellingList"
                                    *ngIf="this.dataService.getuserType() == '2171' && '2173' "
                                    (click)="this.showlist = !this.showlist;"> <i class="icon-list"></i>
                                     {{'SellingList'|translate}}</a></li>
                            <li><a routerLink="menu/notification" (click)="this.showlist = !this.showlist;">
                                    <i class="icon-bell"></i>  {{'Notifications'|translate}}</a></li>
                            <li><a routerLink="menu/Verify" (click)="this.showlist = !this.showlist;"> <i
                                        class="icon-check"></i> {{'VerifyYourself'|translate}}</a></li>
                            <li><a (click)="dataService.logoutUser()" routerLink="/"
                                    (click)="this.showlist = !this.showlist;"> <i class="icon-power"></i>
                                     {{'Logout'|translate}}</a></li>
                                </ul>
                            </li>

                        </ul>
                        <span class="test"> {{this.dataService.getUsername() |titlecase}} </span>
                        <div class="cart-text" style="margin-top: -25px;margin-right: -14px; ;">
                            <div class="dropdown">
                                <ul class="list-unstyled list-inline" style="padding-left: 0;list-style: none; margin-left: -5px;">
                                    <li style="margin-right: 40px;">
                                        <a routerLink="menu/notification">

                                            <i
                                                class="fa fa-bell-o fa-color-white" aria-hidden="true"
                                                title="Notifications"></i><span class="notification-count">{{this.notifcount}}</span></a>
                                        <div id="popover" class="dropdown-toggle" role="menu">
                                        </div>
                                    </li>
                                    <li>
                                            <a routerLink="menu/inbox/{{userID}}/{{memberType}}">

                                            <i
                                                class="fa fa-envelope-o fa-color-white" 
                                                title="Inbox"></i><span class="inbox-count"> {{inboxcount}}</span></a>
                                    </li>
                                    <li><ng-container *ngIf="notifications$ | async as notifications">
                                        <div >{{ notifications }}</div>
                                      </ng-container>
                                        <a routerLink="/Cartitems"><i class="fa  fa-shopping-cart fa-color-white"></i>
                                            <span
                                                class="login-cart-count" *ngIf="cartLst">{{this.dataService.getCartCount()}}</span>
                                                <span class="login-cart-count" *ngIf="!cartLst">0</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- moved from leftnavbar to here -->
                        <!-- <span style="padding-left: 230px;">
    
                            <button class="navbar-toggle" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample" style="float:unset ;background-color: white;">
                                <span style="color: red;">Menu</span>
                                
                            </button>
                        </span> -->
                      
                        <!-- moved from leftnavbar to here -->

                    </div>
                </div>
            </div>
        </div> <!-- top-bar -->
    </div>


    <app-header></app-header>


    <div class="container">

        <router-outlet></router-outlet>

    </div>


    <!-- research-section -->
    <!-- contact-section-two -->
</div>

<!-- main-wrapper -->
<app-footer></app-footer><!-- footer-section -->
<!-- Off-Canvas View Only -->

<span class="menu-toggle navbar visible-xs visible-sm"><i class="fa fa-bars" aria-hidden="true"></i></span>

<div id="offcanvas-menu" class="visible-xs visible-sm">

    <span class="close-menu"><i class="fa fa-times" aria-hidden="true"></i></span>

    <ul class="menu-wrapper">
        <!--  <li class="active dropdown">
        <a href="#">Home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
            <li class="active"><a href="index-2.html">Home</a></li>
            <li><a href="index-two.html">Home Two</a></li>
        </ul>
    </li>-->
        <!-- <li class="active"><a href="#">Home </a></li> -->

        <li class="active"><a routerLink="" class="close-menu">{{'Home'|translate}} </a></li>
        <li><a routerLink="/shop/shop/2173" class="close-menu"> {{'Shop'|translate}}</a></li>
        <li><a routerLink="/transport/2172" class="close-menu">{{'Transporter'|translate}}</a></li>
        <li><a routerLink="#" class="close-menu"> Reserve Transport</a></li>
        <li><a routerLink="/app" class="close-menu">{{'PostComments'|translate}}</a></li>
        <li><a routerLink="/downloadapp" class="close-menu"> Download App</a></li>
        <li><a routerLink="/aboutus" class="close-menu"> {{'AboutUs'|translate}}</a></li>
        <li> <a routerLink="/contactus" class="close-menu">Contact Us</a> </li>
    </ul>
    <!-- menu-wrapper -->
</div>
<!-- Off-Canvas View Only -->

<div id="toTop" class="hidden-xs">
    <i class="fa fa-chevron-up"></i>
</div> <!-- totop -->