<div class="main">
    <div class="row">
        <app-left-nav></app-left-nav>
        <div class="col-md-9">
            <div class="card">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="title-bar">
                            <h2 class="title">View Order  </h2><span class="title-border"></span>
                        </div>
                    </div>

                </div>               

                <div class="card" *ngFor="let p of orderHistory?.orderHeader">
                    <div class="row" >
                        <div class="col-sm-8" >
                            <p><b>Order No.:</b> {{p.orderNo}}</p>
                            <p><b>Order Date:</b> {{p.orderDate | date:'dd/MM/yyyy'}}</p>
                            <p><b>Buyer Name:</b> {{p.userName}}</p>
                            <p><b>Order Status:</b> {{p.orderStatusDesc}}</p>
                            <hr>

                        </div>
                        <div class="col-sm-2">
                            <p><b>Total Amount:{{totalAmt}}</b></p>
                            <!-- <button class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true">Payment
                                    slip</i></button> -->

                        </div>

                    </div>
                    <div class="row" *ngFor="let q of orderHistory?.orderDetail">
                        <div class="col-sm-3">
                            <img src={{productPicUrl}}{{q.productImage}} width="100" />
                        </div>
                        <div class="col-sm-6">
                            <p><b>Product Name:</b> {{q.productName}}</p>
                            <p><b>Payment Type:</b> {{q.paymentOptionDescription}}</p>
                            <p><b>Quantity:</b> {{q.quantity}}</p>
                        </div>
                        <div class="col-sm-3">
                            <p><b>Price:</b> {{q.standardPrice}}</p>
                            <p><b>Discount:</b> {{q.discountAmount}}</p>

                        </div>
                        <hr>
                        <div class="pull-right">
                            <!-- @if (Model.orderHeader[i].OrderStatus == Utility.ORDERPLACED)
                            {
                                <button class="btn btn-default btn-custom btn-custom" onclick="CancelOrder(@Model.orderHeader[i].OrderID)">@AppResource.CancelOrder</button>
                            }
                            @if (paymentslip != null && paymentslip.PaymentMode == Utility.ONLINE && paymentslip.ReferenceNo != null && Model.orderHeader[i].OrderStatus == Utility.ORDERPLACED)
                            {
                                <button class="btn btn-default btn-custom btn-custom" onclick="ConfirmPayment(@Model.orderHeader[i].OrderID)">@AppResource.ConfirmPayment</button>
                            }
                            @if (Model.orderHeader[i].OrderStatus == Utility.ORDERCONFIRMED || paymentslip.PaymentMode == Utility.CASHONDELIVERY)
                            {
                                <button class="btn btn-default btn-custom btn-custom" onclick="ConfirmDelivery(@Model.orderHeader[i].OrderID)">@AppResource.ConfirmDelivered</button>
                            }
                            @if (Model.orderHeader[i].OrderStatus == Utility.ORDERDELIVERED || Model.orderHeader[i].OrderStatus == Utility.ORDERCANCELED)
                            {
                                <button class="btn btn-default btn-custom" onclick="CloseOrder(@Model.orderHeader[i].OrderID)">@AppResource.CloseOrder</button>
                            } -->
                            <button class="btn btn-default btn-custom" (click)="CloseOrder(p.orderID)" *ngIf="p.orderStatus=='2183'">Close Order</button>
                            <button class="custom-btn btn btn-default" 
                                (click)="confirmDelivered()">Confirm Delivered</button>
                            <button class="btn btn-default btn-custom" (click)="cancelOrder()">Cancel Order</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- extra -->
}