<div class="main">
    <div class="row">
        <app-left-nav></app-left-nav>
        <div class="col-md-9">
            <div class="card">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="title-bar">
                            <h2 class="title">{{'ViewOrder'|translate}}  </h2><span class="title-border"></span>
                        </div>
                    </div>

                </div>               

                <div class="card" *ngFor="let p of orderHistory?.orderHeader">
                    <div class="row" >
                        <div class="col-sm-8" >
                            <p><b>{{'OrderNo'|translate}}.:</b> {{p.orderNo}}</p>
                            <p><b>{{'OrderDate'|translate}}:</b> {{p.orderDate | date:'dd/MM/yyyy'}}</p>
                            <p><b>{{'BuyerName'|translate}}:</b> {{p.userName}}</p>
                            <p><b>{{'OrderStatus'|translate}}:</b> {{p.orderStatusDesc}}</p>
                            <hr>

                        </div>
                        <div class="col-sm-2">
                            <p><b>{{'TotalAmount'|translate}}:{{totalAmt}}</b></p>
                            <!-- <button class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true">Payment
                                    slip</i></button> -->

                        </div>

                    </div>
                    <div class="row" *ngFor="let q of orderHistory?.orderDetail">
                        <div class="col-sm-3">
                            <img src={{productPicUrl}}{{q.productImage}} width="100" />
                        </div>
                        <div class="col-sm-6">
                            <p><b>{{'ProductName'|translate}}:</b> {{q.productName}}</p>
                            <p><b>{{'PaymentType'|translate}}:</b> {{q.paymentOptionDescription}}</p>
                            <p><b>{{'Quantity'|translate}}:</b> {{q.quantity}}</p>
                        </div>
                        <div class="col-sm-3">
                            <p><b>{{'Price'|translate}}:</b> {{q.standardPrice}}</p>
                            <p><b>{{'Discount'|translate}}:</b> {{q.discountAmount}}</p>

                        </div>
                        <hr>
                        <div class="pull-right">
                            <!-- @if (Model.orderHeader[i].OrderStatus == Utility.ORDERPLACED)
                            {
                                <button class="btn btn-default btn-custom btn-custom" onclick="CancelOrder(@Model.orderHeader[i].OrderID)">@AppResource.CancelOrder</button>
                            }
                            @if (paymentslip != null && paymentslip.PaymentMode == Utility.ONLINE && paymentslip.ReferenceNo != null && Model.orderHeader[i].OrderStatus == Utility.ORDERPLACED)
                            {
                                <button class="btn btn-default btn-custom btn-custom" onclick="ConfirmPayment(@Model.orderHeader[i].OrderID)">@AppResource.ConfirmPayment</button>
                            }
                            @if (Model.orderHeader[i].OrderStatus == Utility.ORDERCONFIRMED || paymentslip.PaymentMode == Utility.CASHONDELIVERY)
                            {
                                <button class="btn btn-default btn-custom btn-custom" onclick="ConfirmDelivery(@Model.orderHeader[i].OrderID)">@AppResource.ConfirmDelivered</button>
                            }
                            @if (Model.orderHeader[i].OrderStatus == Utility.ORDERDELIVERED || Model.orderHeader[i].OrderStatus == Utility.ORDERCANCELED)
                            {
                                <button class="btn btn-default btn-custom" onclick="CloseOrder(@Model.orderHeader[i].OrderID)">@AppResource.CloseOrder</button>
                            } -->
                            <button class="btn btn-default btn-custom" (click)="CloseOrder(p.orderID)" *ngIf="p.orderStatus=='2183'">Close Order</button>
                            <button class="custom-btn btn btn-default" 
                                (click)="confirmDelivered()">{{'ConfirmDelivered'|translate}}</button>
                            <button class="btn btn-default btn-custom" (click)="cancelOrder()">{{'CancelOrder'|translate}}</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- extra -->
}