table tr th{
    background: #eaeaea;
    color: #3f3f3f;
    
}

/*cartitems product list responsive */
@media only screen and (max-width: 479px){
 .cartItems-productsList{
     overflow-x: auto;
 }
}
.not_img {
    height: 200px;
    line-height: 200px;
    background-color: #23232333;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 30%), 0 3px 5px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 20%), 0 20px 20px rgb(0 0 0 / 15%);
}