<div class="main">
    <div class="row">
        <app-left-nav></app-left-nav>
        <div class="col-md-9">
            <div class="card">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="title-bar">
                            <h2 class="title">SoldOut List  </h2><span class="title-border"></span>
                        </div>
                    </div>

                </div>               

                <div class="card" >
                    <div class="row" *ngFor="let p of soldoutList?.orderHeader">
                        <div class="col-sm-8" >
                            <p><b>Order No.:</b> {{p.orderNo}}</p>
                            <p><b>Order Date:</b> {{p.orderDate | date:'dd/MM/yyyy'}} </p>
                            <p><b>Buyer Name:</b> {{p.userName}}</p>
                            <p><b>Order Status:</b> {{p.orderStatusDesc}}</p>
                            <hr>

                        </div>
                        <div class="col-sm-2">
                            <p><b>Total Amount: {{p.totalAmount}}</b></p>
                            <!-- <button class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true">Payment
                                    slip</i></button> -->

                        </div>

                    </div>
                    <div class="row" *ngFor="let q of soldoutList?.orderDetail">
                        <div class="col-sm-3">
                            <img src="" width="100" />
                        </div>
                        <div class="col-sm-6">
                            <p><b>Product Name:</b> {{q.productName}}</p>
                            <p><b>Payment Type:</b> {{q.paymentOptionDescription}}</p>
                            <p><b>Quantity:</b> {{q.quantity}}</p>
                        </div>
                        <div class="col-sm-3">
                            <p><b>Price:</b> {{q.standardPrice}}</p>
                            <p><b>Discount:</b> {{q.discountAmount}}</p>

                        </div>
                        <hr>
                        <!-- <div class="pull-right">
                          
                            <button class="custom-btn btn btn-default" 
                                >Confirm Delivered</button>
                            <button class="btn btn-default btn-custom" >Cancel Order</button>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- extra -->