.collapse.in {
    display: block;
}
.left-navbar .navbar-default {
    background-color: #f5f8fa;
    border: none;
    padding: 10px;
}
// select selling list css
ul.list-inline.list-unstyled.icons-topp.pull-left.loggedincls {
    margin-top: -46px;
}
// select selling list css
