<div class="main">
    <div class="row">
        <app-left-nav></app-left-nav>
        <div class="col-md-9">
            <div class="card ">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="title-bar">
                            <h2 class="title">Selling List </h2><span class="title-border"></span>
                        </div>
                    </div>
                    <div class="col-sm-3 text-right">
                        <select class="form-control" [(ngModel)]="selectedOrder" (change)="onChange($event)"
                            name="selectedOrder">
                            <!-- <option value="0">All Orders</option> -->
                            <option *ngFor="let drp of sellerType" [value]="drp.lookupId">{{drp.lookupDescription}}
                            </option>
                            <!-- <option value="2181">ORDER CONFIRMED</option>
                            <option selected="selected" value="2182">ORDER DELIVERED</option>
                            <option value="2183">ORDER CANCELED</option>
                            <option value="2184">ORDER CLOSED</option>
                            <option value="0">All Orders</option> -->
                        </select>
                    </div>
                </div>
                <div class="card" *ngFor="let p of orderData">
                    <div class="row">
                        <div class="col-sm-8">
                            <p><b>Order No.:</b> {{p.orderNo}}</p>
                            <p><b>Order Date:</b> {{p.orderDate | date:'dd/MM/yyyy'}}</p>
                            <p><b>Buyer Name:</b> {{p.userName}}</p>
                            <p><b>Order Status:</b> {{p.orderStatusDesc}}</p>
                            <hr>

                        </div>
                        <div class="col-sm-2">
                            <p><b>Total Amount:{{p.totalAmount}}</b></p>
                            <!-- *ngIf="==2178" -->
                            
                            <!-- if (paymentslip != null && paymentslip.PaymentMode == Utility.ONLINE && paymentslip.ReferenceNo != null)
                            {
                            } -->
                            <!-- CASHONDELIVERY = 2177 -->
                            <!-- Online = 2178 -->

                            <!-- if (paymentslip.ReferenceNo != null)
                            {
                <a class="btn btn-default btn-blue pull-right" style="cursor:pointer;" href="~/Uploads/OrderPayment/@Model.orderHeader[i].OrderID/@(paymentslip != null ? paymentslip.ReferenceNo : "")" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i> &nbsp;@AppResource.PaymentSlip</a>
                            }
                            else
                            {
                <a class="btn btn-default btn-blue pull-right" style="cursor:pointer;" href="javascript:void(0);" onclick="ShowPaymentslip()"><i class="fa fa-eye" aria-hidden="true"></i> &nbsp;@AppResource.PaymentSlip</a>
                            } -->
                            <div *ngFor="let pay of p.orderPayment">
                                <!-- href="~/Uploads/OrderPayment/@Model.orderHeader[i].OrderID/@(paymentslip != null ? paymentslip.ReferenceNo : "")" -->
                                <a *ngIf="pay.paymentMode==2178" class="btn btn-primary" href="{{fileuploadUrl}}Uploads/OrderPayment/{{p.orderID}}/{{pay.referenceNo}}"  target="_blank"><i class="fa fa-eye" aria-hidden="true" >Payment
                                        slip</i></a>
                            </div>

                        </div>

                    </div>
                    <div class="row" *ngFor="let q of p.orderDetails">
                        <div *ngIf="p.orderID ===q.orderID">

                            <div class="col-sm-3">
                                <img src={{productPicUrl}}{{q.productImage}} width="100" />
                            </div>
                            <div class="col-sm-6">
                                <p><b>Product Name:</b> {{q.productName}}</p>
                                <p><b>Payment Type:</b> {{q.paymentOptionDescription}}</p>
                                <p><b>Quantity:</b> {{q.quantity}}</p>
                            </div>
                            <div class="col-sm-3">
                                <p><b>Price:</b> {{q.standardPrice}}</p>
                                <p><b>Discount:</b> {{q.discountAmount}}</p>

                            </div>
                            <hr>

                          
                        </div>
                         <!-- ORDERPLACED = 2180;
                         ORDERCONFIRMED = 2181;
                         ORDERDELIVERED = 2182;
                         ORDERCANCELED = 2183;
                         ORDERCLOSED = 2184; -->
                         <!-- <div *ngIf="currentStatus !== 'open' || currentStatus !== 'reopen'"></div> -->
                        <button  *ngIf="p.orderStatus==2180" class="btn btn-primary" (click)="CancelOrder(q.orderID,p.orderNo)">Cancel Order</button>
                        <button  *ngIf="p.orderStatus=='2181' || p.orderStatus=='2181'" class="btn btn-primary" (click)="Confirmdelivery(q.orderID)">Confirm Delivered</button>
                        <button  *ngIf="p.orderStatus=='2180'  " class="btn btn-primary" (click)="ConformPayment(q.orderID)">Confirm Payment</button>
                        <button  *ngIf="p.orderStatus=='2182'|| p.orderStatus=='2183'" class="btn btn-primary" (click)="closeOrder(q.orderID)">Close Order</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="pull-right">
    @if (Model.orderHeader[i].OrderStatus == Utility.ORDERPLACED)
    {
    <button class="btn btn-default btn-custom btn-custom" onclick="CancelOrder(@Model.orderHeader[i].OrderID)">@AppResource.CancelOrder</button>
    }
    @if (paymentslip != null && paymentslip.PaymentMode == Utility.ONLINE && paymentslip.ReferenceNo != null && Model.orderHeader[i].OrderStatus == Utility.ORDERPLACED)
    {
    <button class="btn btn-default btn-custom btn-custom" onclick="ConfirmPayment(@Model.orderHeader[i].OrderID)">@AppResource.ConfirmPayment</button>
    }
    @if (Model.orderHeader[i].OrderStatus == Utility.ORDERCONFIRMED)
    {
    <button class="btn btn-default btn-custom btn-custom" onclick="ConfirmDelivery(@Model.orderHeader[i].OrderID)">@AppResource.ConfirmDelivered</button>
    }
    @if (Model.orderHeader[i].OrderStatus == Utility.ORDERDELIVERED || Model.orderHeader[i].OrderStatus == Utility.ORDERCANCELED)
    {
    <button class="btn btn-default btn-custom" onclick="CloseOrder(@Model.orderHeader[i].OrderID)">@AppResource.CloseOrder</button>
    }
</div> -->